body {
  font-family: verdana;
  text-align: center;
}

#description {
  text-align: left;
  padding: 22px;
  line-height: 24px;
}

.headingtxt {
  font-style: italic;
  font-size: 3.5vh;
}

.headingtxt2 {
  font-size: 3vh;
}

.nowrap {
  white-space: nowrap;
}